{% extends "base.html" %}
{% block content %}
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Bienvenido a YourMusicMyMusic</h1>
        <p class="lead text-muted"> Aca puedes escuchar las canciones que quieras</p>
    </div>
</section>

<div class=" py-5 bg-light">
    <div class="container">
      <div class="row">
        {% for cancion in canciones %}
        <div class="col-md-4">
          <div class="card mb-4 box-shadow" style="width: 23rem;">
            <img class="card-img-top" style="width: 23rem; height: 23rem; " src="https://w7.pngwing.com/pngs/629/751/png-transparent-itunes-computer-icons-music-apple-apple-text-trademark-logo.png" alt="{{cancion.nombre}}">
            <div class="card-body">
                <h5 class="card-title">{{cancion.nombre}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{cancion.artista}}</h6>
              <p class="card-text" style="text-align: justify; height: 10rem;">{{cancion.genero}}</p>
              <p class="card-text" style="text-align: justify; height: 10rem;">{{cancion.anio}}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock content %}

<footer class="text-muted">
    <div class="container">
        <p>Ejemplo de Tienda de muscia &copy; Bootstrap.</p>
        <p>¿Nuevos en Bootstrap? <a href="../../">Visiten la pagina oficial </a> o consulten <a
                href="../../getting-started/"> la guía de inicio</a>.</p>
    </div>
</footer>